language: php

php:
  - 7.2
  - 7.3
  - 7.4

env:
  - LARAVEL_VERSION=7.*
  
before_install:
  - composer require "laravel/framework:${LARAVEL_VERSION}" --no-update

install:
  - composer update --prefer-source --no-interaction

script:
  - ./vendor/bin/phpunit --testdox --coverage-text